@import url();

.tfamily{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.tbold{
    font-weight: 500;
}
.tsize{
    font-size: 1.4em;
}
.tcolor{
    color:chartreuse;
}
.tstyler{
    font-style: italic;
}
.tbolder{
    font-weight: bolder;
}
.theight{
    line-height: 1.6em;
}
.tdeco{
    text-decoration: underline;
    text-decoration: line-through;
}
